<mat-card class="example-card">
    <mat-card-content>
      <img mat-card-image style="width: 200px;" src="http://188.40.64.184:3009/media/images/PUNTAS_5.1.webp" alt="Photo of a Shiba Inu">
      <h1>The most importan things are not things so we'll design experiences</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><a style="color: #3b5998;" href="#!" role="button"
        ><i class="fab fa-facebook-f fa-lg"></i
      ></a></button>
      <button mat-button><a style="color: #55acee;" href="#!" role="button"
        ><i class="fab fa-twitter fa-lg"></i
      ></a></button>
      <button mat-button><a style="color: #ac2bac;" href="#!" role="button"><i class="fab fa-instagram fa-lg"></i
      ></a></button>
    </mat-card-actions>
  </mat-card>
